<div class="container-fluid container-fluid-custom py-md-4 mb-4">
    <main>
      <div class="row py-md-4 mb-4 text-center justify-content-center">
  
        <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
          <h1 class="display-4 fw-bold mb-4 position-relative home-title">
            <!-- Write your thoughts down as they come to you. -->
            Ayo tuliskan ide yang muncul dipikiran mu! 💡
          </h1>
          <p class="fs-5 mb-4">
            Notes adalah aplikasi untuk menulis ide yang mudah digunakan dibuat dengan Node.Js
          </p>
          <a href="/auth/google" class="btn btn-primary btn-lg">✨ Coba Sekarang, GRATIS! ✨</a>
        </div>
  
      </div>
    </main>
  </div>